<!-- START GAME  -->
<section class="row gap-3">
    <!-- TIMER -->
    <div class="text-center text-light mx-auto w-25 p-4 border rounded bg-dark">
        <h1 class="text-{{gameStatus}} text-center">{{ timerLayout() }}
         <button type="button" title="timerStarter" class="btn text-uppercase text-center text-light fs-2 {{timerState}}" id="startBtn" ng-click="startGame()"><i class="bi bi-play-circle-fill"></i></button>
        </h1>
    </div>
    <!-- / / / -->
    <!-- LE CHIFFRE -->
    <div class="col bg-light text-center">
        <div>
            <p>Voici le chiffre generer de 1-1000:</p>
        </div>
        <div class="p4">
            <h1 class="h1">{{goldenNumber}}<h1>
        </div>
    </div>
    <!-- / / / -->
</section>
    <!-- LA LISTE DES CHIFFRES -->
<section class="row gap-3 text-center mt-3 " >
    <div    class="col bg-light p-2 border-3 rounded" 
            ng-repeat="gameNumber in gameNumbers" ng-click="addToOperaiion(gameNumber)">
            <span class=" number-used-{{gameNumber.used}} h3">{{gameNumber.value}}</span>
    </div>
</section>
<hr>
<!-- VALIDATION D'OPERATION -->
<section class="">
    <section class=" mb-3 row gap-3 text-center mt-3 " >
        <div    class="col bg-light p-2 border-3 rounded" 
                ng-repeat="operation in gameConfig.operations" ng-click="addToOperaiion(operation)">
                <span class="h3">{{operation}}</span>
        </div>
    </section>
    <form action="" class="{{caseStatus}}">
        <div class="input-group">
            <button type="button" class="btn btn-secondary" ng-click="clearOperation()">Clear</button>
            <input type="text" id="" class="form-control" placeholder="{{validations[0].player.name}} veuillez entrer les operations" ng-model="playerOperation" disabled>
            <button type="button" class="btn btn-success" ng-click="submitOperation()">Valider</button>
        </div>
    </form>
</section>
<section class="row gy-3 mt-3">
    <!-- PLAYER CARD -->
    <div class="col-6" ng-repeat="player in players">
        <div class="card bg-light text-dark">
            <div class="card-header text-uppercase text-center d-flex p-0">
                <h3 class="w-100">{{player.name}}</h3>
                <span class="bg-dark text-light col-2 rounded-end"> {{player.point}} pts</span>
            </div>
            <div class="card-body">
                <form action="" class="mx-auto w-50 ">
                        <input required ng-model="player.answer" placeholder="Your answer"  type="number" min="0" name="" id="" class="form-control p-3 {{player.validation}}" >
                        <div class="row mt-3 justify-content-center">
                            <button type="button"
                            class="btn btn-primary {{player.validation}} col-5 text-uppercase"
                            ng-click="validationAnswer(player,$index)">valider</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!-- / / / -->
</section>
<section class="row mt-3">
    <div class="w-50">
        <ul>
            <li>
                <input type="text" placeholder="An optimised operation" disabled ng-model="proposeOperation">
            </li>
            <li>
                <input type="text" placeholder="An optimised number" disabled ng-model="proposeNumber">
            </li>
            <li>
                <button class="btn btn-primary" ng-click="proposerSolution()">Proposer</button>
            </li>
        </ul>

    </div>
</section>

<!-- END GAME  -->