<!-- START GAME  -->
<section class="row gap-3">
    <!-- TIMER -->
    <div class="text-center text-light mx-auto w-25 p-4 border rounded bg-dark">
        <h1 class="text-{{gameStatus}}">{{ fullTimerCaractere(timer) }}</h1>
        <button class="btn btn-success text-uppercase text-light" id="startBtn" ng-click="startGame()"> start</button>
    </div>
    <!-- / / / -->
    <!-- LE CHIFFRE -->
    <div class="col bg-light text-center">
        <div>
            <p>Voici le chiffre generer de 1-1000:</p>
        </div>
        <div class="p4">
            <h1 class="h1">{{goldenNumber}}<h1>
        </div>
    </div>
    <!-- / / / -->
</section>

<section class="row gap-3 text-center mt-3 " >
    <div    class="col bg-light p-2 border-3 rounded" 
            ng-repeat="gameNumber in gameNumbers">
            <span class=" number-{{gameStatus}} h3">{{gameNumber}}</span>
    </div>
</section>
<hr>
<section class="row gy-3 mt-3">
    <!-- player card -->
    <div class="col-6" ng-repeat="player in players">
        <div class="card bg-dark text-light">
            <div class="card-header text-uppercase text-center d-flex p-0">
                <h3 class="w-100">{{player.name}}</h3>
                <span class="bg-light text-dark col-2 rounded-end"> {{player.point}} pts</span>
            </div>
            <div class="card-body">
                <form action="" class="mx-auto w-50 ">
                        <input placeholder="Your answer"  type="text" name="" id="" class="form-control p-3">
                        <div class="row mt-3 justify-content-center">
                            <button type="submit" class="btn btn-primary col-5 text-uppercase">valider</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!-- / / / -->
</section>

<!-- END GAME  -->