<!-- START GAME  -->
<section class="row gap-3">
    <!-- TIMER -->
    <div class="text-center text-light mx-auto w-25 p-4 border rounded bg-dark">
        <h1 class="text-{{gameStatus}}">{{ timerLayout() }}</h1>
        <button class="btn btn-success text-uppercase text-light" id="startBtn" ng-click="startGame()"> start</button>
    </div>
    <!-- / / / -->
    <!-- LE CHIFFRE -->
    <div class="col bg-light text-center">
        <div>
            <p>Voici le chiffre generer de 1-1000:</p>
        </div>
        <div class="p4">
            <h1 class="h1">{{goldenNumber}}<h1>
        </div>
    </div>
    <!-- / / / -->
</section>

<section class="row gap-3 text-center mt-3 " >
    <div    class="col bg-light p-2 border-3 rounded" 
            ng-repeat="gameNumber in gameNumbers">
            <span class=" number-{{gameStatus}}  h3">{{gameNumber}}</span>
    </div>
</section>
<hr>
<!-- VALIDATION D'OPERATION -->
<section class="">
    <section class=" mb-3 row gap-3 text-center mt-3 " >
        <div    class="col bg-light p-2 border-3 rounded" 
                ng-repeat="operation in gameConfig.operations">
                <span class=" number-{{gameStatus}}  h3">{{operation}}</span>
        </div>
    </section>
    <form action="" class="{{caseStatus}}">
        <div class="input-group">
            <button class="btn btn-secondary">Clear</button>
            <input type="text" id="" class="form-control" ng-model="playerOperation" disabled>
            <button class="btn btn-success">Valider</button>
        </div>
    </form>
</section>
<section class="row gy-3 mt-3">
    <!-- PLAYER CARD -->
    <div class="col-6" ng-repeat="player in players">
        <div class="card bg-dark text-light">
            <div class="card-header text-uppercase text-center d-flex p-0">
                <h3 class="w-100">{{player.name}}</h3>
                <span class="bg-light text-dark col-2 rounded-end"> {{player.point}} pts</span>
            </div>
            <div class="card-body">
                <form action="" class="mx-auto w-50 ">
                        <input required ng-model="playerAnswer" placeholder="Your answer"  type="number" min="0" max="1000" name="" id="" class="form-control p-3" {{player.validation}}>
                        <div class="row mt-3 justify-content-center">
                            <button type="submit" 
                            class="btn btn-primary {{player.validation}} col-5 text-uppercase" 
                            ng-click="validationAnswer(player,playerAnswer)">valider</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!-- / / / -->
    <div>{{validations}}</div>
</section>

<!-- END GAME  -->