.text-stop , .text-validation {
    color: rgb(149, 149, 149);
}
.validation-false {
    opacity: 0.6;
    cursor: not-allowed;
}

.number-used-true{
    opacity: 0.2;
}

.active-case {
    border: 2px;
    border-color: brown;
}