
            <!-- DEBUT FORMULAIRE JOUEUR -->
            
            <section class="container row" id="formContainer" ng-controller="playerFormController">
                <div class="mx-auto w-50 card p-5">
                    
                        <div ng-repeat="player in players">
                            <div class="input-group mb-3">
                                <input class="form-control" ng-model=player.name>
                                <button
                                type="button"
                                class="btn btn-danger"
                                ng-click="removePlayer($index)"
                                >
                                    <b>-</b>
                                </button>
                            </div>
                        </div>
                        <div class="input-group mb-5">
                            <input 
                                class="form-control" 
                                type="text" 
                                id="playerName" 
                                ng-model="playerName"
                                placeholder="Player Name"
                            ><button
                                id="playerBtn"
                                type="button"
                                class="btn btn-success"
                                ng-click="addPlayer()"
                            >
                                <i class="bi-person-plus"></i>
                            </button>
                        </div>
                        <a href="#!/game" class="btn btn-primary">P L A Y</a>
                </div>
            </section>
            
            <!-- FIN FORMULAIRE JOUEUR -->
